@media screen and (max-width: 1000px) {
    .h5_footer {
        text-align: center;
        margin-top: 220px;
        padding-top: 30px;
        padding-bottom: 30px;
        background: #FBFBFB;
    }
    
    .h5_footer div:nth-child(1) p{
        margin-top: 10px;
        font-size: 14px;
        font-family: HuaweiSansLight;
        color: #000000;
        line-height: 16px;
    
    }
    
    .h5_footer div:nth-child(2) {
        margin-top: 20px;
    }
    
    .h5_footer div:nth-child(2) img {
        width: 78px;
        height: 78px;
    }
    
    .h5_footer div:nth-child(2) p:nth-child(2){
        margin-top: 10px;
        font-size: 12px;
        font-family: FZLTXIHJW--GB1-0, FZLTXIHJW--GB1;
        font-weight: normal;
        color: #000000;
        line-height: 12px;
    }
    
    .h5_footer div:nth-child(2) p:nth-child(3){
        margin-top: 20px;
        font-size: 12px;
        font-family: FZLTXIHJW--GB1-0, FZLTXIHJW--GB1;
        font-weight: normal;
        color: #000000;
        line-height: 12px;
    }
}


