<div class="top-link">
    <div class="link-container">
        <div class="docs-a">
            
        </div>
        <div class="other-link">
            <a id="source" href="javaScript:;" target="_blank">
                <i class="source-code"></i>
                <span>{{ i18n "source_code" }}</span>
            </a>
            <a id="feedbook" href="https://gitee.com/openeuler/docs/issues" target="_blank">
                <i class="feedbook"></i>
                <span>{{ i18n "feedbook" }}</span>
            </a>
        </div>
        <div class="prev-next">
            <div id="prev">
                <a href="javaScript:;"><i class="icon-prev"></i><span>{{ i18n "previous" }}</span></a>
            </div>
            <div id="next">
                <a href="javaScript:;"><span>{{ i18n "next" }}</span><i class="icon-next"></i></a>
            </div>
        </div>
    </div>
</div>