<nav class="nav-box">
    <div class="nav-menu container">
        <div class="left">
            <a href="javaScript:;"><img src="/logo.png" alt="" /></a>
        </div>
        <div class="h5_nav_left">
            <a href="javaScript:;"><img id="img" src="/h5_logo.png" alt="" /></a>
            <span class="home">{{ i18n "document_link" }}</span>
        </div>
        <div class="right" id="right-style">
            <div id="nav-search">
                <i class="icon-search"></i>
            </div>
            <div id="result-container">
                <div class="search-header">
                    <input type="text" class="search-text" placeholder="{{ i18n "search_placeholder" }}" />
                    <i class="icon-search"></i>
                </div>
                <div class="search-result" class="container result-style">
                    <ul style="border: none;">
                        
                    </ul>
                    <div id="baseof-pagination"></div>
                </div>
            </div>
            <div class="baseof_mask"></div>
            <div name="lang" id="lang">
                <span style="margin-left: 25px;">{{ i18n "current_lang" }}</span>
                <i class="icon-down"></i>
                <div class="option web-lang">
                    <a href="/zh/">{{ .Site.Params.languageZh }}</a>
                    <a href="/en/">{{ .Site.Params.languageEn }}</a>
                    <a href="/ru/">{{ .Site.Params.languageRu }}</a>
                    <div class="angle"></div>
                </div>
            </div>
        </div>
        <div class="h5-right">
            <i class="icon-lang">
                <div class="option">
                    <a href="/zh/">{{ .Site.Params.languageZh }}</a>
                    <a href="/en/">{{ .Site.Params.languageEn }}</a>
                    <a href="/ru/">{{ .Site.Params.languageRu }}</a>
                    <div class="angle"></div>
                </div>
            </i>
            <i class="white_search"></i>
        </div>
    </div>
</nav>