<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

{{ partial "head.html" . }}
<link href="{{ "css/doclist.css"  | relURL }}?t={{ mul 1000 (time now).Unix }}" rel="stylesheet" type="text/css">
<body>
    <div id="all">

        <header>
            {{ partial "nav.html" . }}
        </header>

        <div class="body_content">
            {{ partial "search.html" . }}
            {{ partial "doclist.html" .}}
        </div>

        {{ partial "footer.html" . }}
    </div>
    
    {{ partial "scripts.html" . }}
</body>
</html>